@charset "utf-8"; 
/* -S- gnb_01 */
.gnb_01{border:1px solid #fff; width:100%;font-size:0.75em;background:#fff; box-shadow:0px 1px 2px rgba(0,0,0,0.2);font-family: '나눔고딕';
			box-sizing: border-box; 
			-o-box-sizing: border-box; 
			-ms-box-sizing: border-box; 
			-moz-box-sizing: border-box; 
			-webkit-box-sizing: border-box;
		}
.gnbBox01{
	min-height:42px; 
	position:relative; 
	background: #60a2fb ;
}
.gnb_list01{
	overflow: hidden; 
	position:absolute; right:0;
	border-radius: 3px;
}
.gnb_list01 li{
	float:left;
	border-right:1px solid #a2cfec;
	
}
.gnb_list01 li:last-child{
	border:none;
}
.gnb_list01 li a{
	font-size: 15px;
	display: block;
	font-weight: bold;
	color:#545454;
	height:42px;
	line-height: 42px; padding:0 12px;
}
.gnb_list01 li a:hover, .gnb_list01 li a:active, .gnb_list01 li a.on{
	color:#fff;padding:0 20px 0 12px;
	background:url(images/menu/bul_gnb02_on.png) no-repeat 90% 55%;
}

/* -S- gnb_02 */
.gnb_02{border:1px solid #fff; width:100%;font-size:0.75em;background:#fff; box-shadow:0px 1px 2px rgba(0,0,0,0.2);font-family: '나눔고딕';
			box-sizing: border-box; 
			-o-box-sizing: border-box; 
			-ms-box-sizing: border-box; 
			-moz-box-sizing: border-box; 
			-webkit-box-sizing: border-box;
		}
.gnbBox02{
	min-height:42px; 
	position:relative; 
	background: #fff ;
	border:1px solid #efefef; 
}
.gnb_list02{
	overflow: hidden; 
	position:absolute; right:0;
	border-radius: 3px;
}
.gnb_list02 li{
	float:left;
	border-left:1px dashed #ddd;
	}

.gnb_list02 li a{
	font-size: 15px;
	display: block;
	font-weight: bold;
	color:#545454;
	background:url(images/menu/bul_gnb02_off.png) no-repeat 10px 55%;
	height:42px;
	line-height: 42px;
	padding:0 12px 0 24px;
}
.gnb_list02 li a:hover, .gnb_list02 li a:active, .gnb_list02 li a.on{
	color:#fff;
	background:#60a2fb url(images/menu/bul_gnb02_on.png) no-repeat 10px 55%;
	border-radius: 3px;
}

/* -S- gnb_03 */
.gnb_03{border:1px solid #fff; width:100%;font-size:0.75em;box-shadow:0px 1px 2px rgba(0,0,0,0.2);font-family: '나눔고딕';
			box-sizing: border-box; 
			-o-box-sizing: border-box; 
			-ms-box-sizing: border-box; 
			-moz-box-sizing: border-box; 
			-webkit-box-sizing: border-box; border-radius: 5px;
		}
.gnbBox03{ border-radius: 5px;
	min-height:42px; 
	position:relative; 
	background:#333; 
	border:1px solid #d4d4d4;
}
.gnb_list03{
	overflow: hidden; 
	position:absolute; right:0;
	border-radius: 3px;
}
.gnb_list03 li{
	float:left;
	border-left:1px dashed #777;
	}

.gnb_list03 li a{
	font-size: 15px;
	display: block;
	font-weight: bold;
	color:#777;
	height:42px;
	line-height: 42px;
	padding:0 24px 0 16px;
}
.gnb_list03 li a:hover, .gnb_list03 li a:active, .gnb_list03 li a.on{
	color:#fff;
	background:#60a2fb url(images/menu/bul_gnb03.png) no-repeat 90% 50%; 
	border-radius: 3px;
}
/* -S- gnb_04 */
.gnb_04{border:1px solid #fff; width:100%;font-size:0.75em;box-shadow:0px 1px 2px rgba(0,0,0,0.2);font-family: '나눔고딕';
			box-sizing: border-box; 
			-o-box-sizing: border-box; 
			-ms-box-sizing: border-box; 
			-moz-box-sizing: border-box; 
			-webkit-box-sizing: border-box;
		}
.gnbBox04{position:relative;
	min-height:42px; 
	background:#fff; 
}
.gnb_list04{
	position:absolute;
	left:20%;
	overflow: hidden;
	
}
.gnb_list04 > li{
float:left;
	}
.gnb_list04 > li >a{
	font-size: 15px;
	font-weight: bold;
	color:#777;
	display: block;
	height:42px;
	line-height: 42px;
	padding:0 24px 0 16px;
	border:1px solid #d4d4d4;
	margin-right:1px;
	border-radius: 5px 5px 0 0;
}
.gnb_list04 > li >a:hover, .gnb_list04 > li >a:active, .gnb_list04 > li >a.on{
	color:#fff;
	background:#60a2fb url(images/menu/bul_gnb04.png) no-repeat 90% 50%; 
	border-radius: 3px;
}

.gnb_2dep04{clear:both;}
.gnb_2dep04 li{}
.gnb_2dep04 li a{}
.gnb_2dep04 li a:hover, .gnb_2dep04 li a:active, .gnb_2dep04 li a.selected{

}
/*==  SNB  ===============================================*/
/* -S- snb_01 */
.snb_01{border:1px solid #fff; width:100%;font-size:0.75em;background:#fff; box-shadow:0px 1px 2px rgba(0,0,0,0.2);font-family: '나눔고딕';
			box-sizing: border-box; 
			-o-box-sizing: border-box; 
			-ms-box-sizing: border-box; 
			-moz-box-sizing: border-box; 
			-webkit-box-sizing: border-box;
		}
.snb_list01{
	border-radius: 3px;
}
.snb_list01 > li{
	width:100%;
	border-bottom:1px solid #d4d4d4;
}
.snb_list01 > li > a{
	background:#c4c3c3 url(images/menu/bul_snb01_off.png) no-repeat 94% 50%; 
	font-size: 15px;
	display: block;
	font-weight: bold;
	color:#545454;
	height:42px;
	line-height: 42px;
	padding:0 12px;
}
.snb_list01 > li > a:hover, .snb_list01 > li > a:active, .snb_list01 > li > a.on{
	color:#fff;
	background: #60a2fb url(images/menu/bul_snb01_on.png) no-repeat 94% 50%; 
}

.snb_2dep01 li{background:#fff;}
.snb_2dep01 li:last-child a{border:none;}
.snb_2dep01 li a{
	background: url(images/menu/bul_snb0101_off.png) no-repeat 4% 50%; 
	display: block;
	font-weight: bold;
	color:#545454;
	height:30px;
	line-height: 30px;
	padding:0 20px;
	border-bottom: 1px dashed #efefef;
}
.snb_2dep01 li a:hover, .snb_2dep01 li a:active, .snb_2dep01 li a.selected{
	background: url(images/menu/bul_snb0101_on.png) no-repeat 4% 50%; 
	color:#60a2fb ;
	text-decoration: underline;
}

/* -S- snb_02 */
.snb_02{border:1px solid #fff; width:100%;font-size:0.75em;background:#fff; box-shadow:0px 1px 2px rgba(0,0,0,0.2);font-family: '나눔고딕';
			box-sizing: border-box; 
			-o-box-sizing: border-box; 
			-ms-box-sizing: border-box; 
			-moz-box-sizing: border-box; 
			-webkit-box-sizing: border-box;
		}
.snb_list02{
	border-radius: 3px;
}
.snb_list02 > li{
	width:100%;
	border-bottom:1px solid #d4d4d4;
}
.snb_list02 > li > a{
	font-size: 15px;
	display: block;
	font-weight: bold;
	color:#545454;
	height:42px;
	line-height: 42px;
	padding:0 12px;
	border-left:4px solid #b8d6fe;
	box-sizing: border-box; 
			-o-box-sizing: border-box; 
			-ms-box-sizing: border-box; 
			-moz-box-sizing: border-box; 
			-webkit-box-sizing: border-box;
}
.snb_list02 > li > a:hover, .snb_list02 > li > a:active, .snb_list02 > li > a.on{
	color:#fff;
	background: #60a2fb ; 
	border-left:4px solid #545454;
}
.snb_2dep02{
	border-left:4px solid #efefef;
	box-sizing: border-box; 
			-o-box-sizing: border-box; 
			-ms-box-sizing: border-box; 
			-moz-box-sizing: border-box; 
			-webkit-box-sizing: border-box;
}
.snb_2dep02 li{background:#fff;}
.snb_2dep02 li:last-child a{border:none;}
.snb_2dep02 li a{
	background: url(images/menu/bul_snb0201_off.png) no-repeat 4% 50%; 
	display: block;
	font-weight: bold;
	color:#545454;
	height:30px;
	line-height: 30px;;
	padding:0 20px;
	border-bottom: 1px dotted #efefef;
}
.snb_2dep02 li a:hover, .snb_2dep02 li a:active, .snb_2dep02 li a.selected{
	background: url(images/menu/bul_snb0201_on.png) no-repeat 4% 50%; 
	color:#60a2fb ;
	text-decoration: underline;
}

/* -S- snb_03 */
.snb_03{border:1px solid #fff; width:100%;font-size:0.75em;background:#fff; box-shadow:0px 1px 2px rgba(0,0,0,0.2);font-family: '나눔고딕';
			box-sizing: border-box; 
			-o-box-sizing: border-box; 
			-ms-box-sizing: border-box; 
			-moz-box-sizing: border-box; 
			-webkit-box-sizing: border-box;
		}
.snb_list03{
	border-radius: 3px;
}
.snb_list03 > li{
	width:100%;
	border-bottom:1px solid #d4d4d4;
}
.snb_list03 > li > a{
	font-size: 15px;
	display: block;
	font-weight: bold;
	color:#545454;
	height:42px;
	line-height: 42px;
	padding:0 12px;
}
.snb_list03 > li > a:hover, .snb_list03 > li > a:active, .snb_list03 > li > a.on{
	color:#fff;
	background: #333 url(images/menu/bul_snb03_on.png) no-repeat 94% 50%; 
}
.snb_2dep03 li{background:#fff;}
.snb_2dep03 li:last-child a{border:none;}
.snb_2dep03 li a{
	background: url(images/menu/bul_snb0301_off.png) no-repeat 4% 50%; 
	display: block;
	font-weight: bold;
	color:#545454;
	height:30px;
	line-height: 30px;
	padding:0 20px;
	border-bottom: 1px solid #efefef;
}
.snb_2dep03 li a:hover, .snb_2dep03 li a:active, .snb_2dep03 li a.selected{
	background: url(images/menu/bul_snb0301_on.png) no-repeat 4% 50%; 
	color:#60a2fb ;
	text-decoration: underline;
}

/*== LNB ============================================*/
/* -S- LNB_01 */
.lnb_01{border:1px solid #efefef;  width:100%;font-size:0.75em;background:#fff; box-shadow:0px 1px 2px rgba(0,0,0,0.2);font-family: '나눔고딕'; position:relative;
	height:28px; overflow:hidden; 
			box-sizing: border-box; 
			-o-box-sizing: border-box; 
			-ms-box-sizing: border-box; 
			-moz-box-sizing: border-box; 
			-webkit-box-sizing: border-box;
			border-radius: 3px;
		}
.lnb_list01{position:absolute; right:0; top:0;}
.lnb_list01 li {float:left;}
.lnb_list01 li a{
	font-weight:bold;
	font-size:11px; 
	display:block; 
	padding:0 20px; 
	height:28px;
	line-height: 28px;
	background:url(images/menu/bul_lnb01.png) no-repeat 0% top} 
.lnb_list01 li a:hover,.lnb_list01 li a:focus,.lnb_list01 li a.on{
	color:#60a2fb ; 
	font-weight:bold; text-decoration:underline;} 
.lnb_list01 li:first-child a{background:none;} 
.ico-home01{ background:url(images/menu/ico_home.png) no-repeat 0px 8px; overflow:hidden;}

/* -S- LNB_02 */
.lnb_02{border:1px solid #efefef;  width:100%;font-size:0.75em;background:#fff; box-shadow:0px 1px 2px rgba(0,0,0,0.2);font-family: '나눔고딕'; position:relative;
	height:28px; overflow:hidden; 
			box-sizing: border-box; 
			-o-box-sizing: border-box; 
			-ms-box-sizing: border-box; 
			-moz-box-sizing: border-box; 
			-webkit-box-sizing: border-box;
			border-radius: 3px;
		}
.lnb_list02{position:absolute; right:0; top:0;}
.lnb_list02 li {float:left;}
.lnb_list02 li a{
	font-weight:bold;
	font-size:11px; 
	display:block; 
	padding:0 20px; 
	height:28px;
	line-height: 28px;
	background:url(images/menu/bul_lnb02.png) no-repeat 0% 50%}
.lnb_list02 li a:hover,.lnb_list02 li a:focus,.lnb_list02 li a.on{
	color:#60a2fb ; 
	font-weight:bold; text-decoration:underline;} 
.lnb_list02 li:first-child a{background:none;} 

/* -S- LNB_03 */
.lnb_03{border:1px solid #efefef;  width:100%;font-size:0.75em;background:#fff; box-shadow:0px 1px 2px rgba(0,0,0,0.2);font-family: '나눔고딕'; position:relative;
	height:28px; overflow:hidden; 
			box-sizing: border-box; 
			-o-box-sizing: border-box; 
			-ms-box-sizing: border-box; 
			-moz-box-sizing: border-box; 
			-webkit-box-sizing: border-box;
			border-radius: 3px;
		}
.lnb_list03{position:absolute; right:0; top:0;}
.lnb_list03 li {float:left;}
.lnb_list03 li a{
	font-weight:bold;
	font-size:11px; 
	display:block; 
	padding:0 20px; 
	height:28px;
	line-height: 28px;
	background:url(images/menu/bul_lnb03.png) no-repeat 0% 50%} 
.lnb_list03 li a:hover,.lnb_list03 li a:focus,.lnb_list03 li a.on{
	color:#60a2fb ; 
	font-weight:bold; text-decoration:underline;} 
.lnb_list03 li:first-child a{background:none;} 

/*== file tree ============================================*/
/* -S- filetree_01 */
.filetree_01{border:1px solid #efefef;  width:100%;font-size:0.75em;background:#fff; box-shadow:0px 1px 2px rgba(0,0,0,0.2);font-family: '나눔고딕';
			box-sizing: border-box; 
			-o-box-sizing: border-box; 
			-ms-box-sizing: border-box; 
			-moz-box-sizing: border-box; 
			-webkit-box-sizing: border-box;
		}

.filetree_list01 > li > a{
	background:url(images/menu/bul_filetree01_off.png) no-repeat 4% 50%; 
	font-size: 12px;
	display: block;
	color:#6d6d6d;
	height:32px;
	line-height: 32px;
	padding:0 0 0 26px;
}
.filetree_list01 > li > a:hover, .filetree_list01 > li > a:active, .filetree_list01 > li > a.on{background:url(images/menu/bul_filetree01_on.png) no-repeat 4% 50%; 
}
.filetree_2dep01 > li > a{
	background: url(images/menu/bul_filetree01_off.png) no-repeat 10% 50%; 
	display: block;
	height:32px;
	line-height: 32px;
	padding:0 0 0 40px;
}
.filetree_2dep01 > li > a:hover, .filetree_2dep01 > li > a:active, .filetree_2dep01 > li > a.selected{background: url(images/menu/bul_filetree01_on.png) no-repeat 10% 50%; 
}
.filetree_3dep01 > li > a{
	display: block;
	height:32px;
	line-height: 32px;
	padding:0 0 0 60px;
}
.filetree_3dep01 > li > a:hover, .filetree_3dep01 > li > a:active, .filetree_3dep01 > li > a.selected{color:#3b3b3b;font-weight: bold;
}

/* -S- filetree_02 */
.filetree_02{border:1px solid #efefef;  width:100%;font-size:0.75em;background:#fff; box-shadow:0px 1px 2px rgba(0,0,0,0.2);font-family: '나눔고딕';
			box-sizing: border-box; 
			-o-box-sizing: border-box; 
			-ms-box-sizing: border-box; 
			-moz-box-sizing: border-box; 
			-webkit-box-sizing: border-box;
		}

.filetree_list02 > li > a{
	background:url(images/menu/bul_filetree02_off.png) no-repeat 4% 50%; 
	font-size: 12px;
	display: block;
	color:#6d6d6d;
	height:32px;
	line-height: 32px;
	padding:0 0 0 26px;
}
.filetree_list02 > li > a:hover, .filetree_list02 > li > a:active, .filetree_list02 > li > a.on{background:url(images/menu/bul_filetree02_on.png) no-repeat 4% 50%; 
}
.filetree_2dep02 > li > a{
	background: url(images/menu/bul_filetree02_off.png) no-repeat 10% 50%; 
	display: block;
	height:32px;
	line-height: 32px;
	padding:0 0 0 40px;
}
.filetree_2dep02 > li > a:hover, .filetree_2dep02 > li > a:active, .filetree_2dep02 > li > a.selected{background: url(images/menu/bul_filetree02_on.png) no-repeat 10% 50%; 
}
.filetree_3dep02 > li > a{
	display: block;
	height:32px;
	line-height: 32px;
	padding:0 0 0 60px;
}
.filetree_3dep02 > li > a:hover, .filetree_3dep02 > li > a:active, .filetree_3dep02 > li > a.selected{color:#3b3b3b;font-weight: bold;
}

/* -S- filetree_03 */
.filetree_03{border:1px solid #efefef;  width:100%;font-size:0.75em;background:#fff; box-shadow:0px 1px 2px rgba(0,0,0,0.2);font-family: '나눔고딕';
			box-sizing: border-box; 
			-o-box-sizing: border-box; 
			-ms-box-sizing: border-box; 
			-moz-box-sizing: border-box; 
			-webkit-box-sizing: border-box;
		}

.filetree_list03 > li > a{
	background: url(images/menu/bul_filetree03_off.png) no-repeat 4% 50%; 
	font-size: 12px;
	display: block;
	color:#6d6d6d;
	height:32px;
	line-height: 32px;
	padding:0 0 0 26px;
}
.filetree_list03 > li > a:hover, .filetree_list03 > li > a:active, .filetree_list03 > li > a.on{background:url(images/menu/bul_filetree03_on.png) no-repeat 4% 50%; 
}
.filetree_2dep03 > li > a{
	background: url(images/menu/ico_folder.png) no-repeat 10% 50%; 
	display: block;
	height:32px; 
	line-height: 32px;
	padding:0 0 0 40px;
}
.filetree_2dep03 > li > a:hover, .filetree_2dep02 > li > a:active, .filetree_2dep02 > li > a.selected{color:#000;font-weight: bold;
}
.filetree_3dep03 > li > a{
	background:url(images/menu/ico_file.png) no-repeat 20% 50%;  
	display: block;
	height:32px;
	line-height: 32px;
	padding:0 0 0 60px;
}
.filetree_3dep03 > li > a:hover, .filetree_3dep32 > li > a:active, .filetree_3dep3 > li > a.selected{color:#3b3b3b;font-weight: bold;
	
}